/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .selected-conv-item {
    @apply before:absolute before:content-[''] before:!opacity-100 before:inset-y-0 before:left-0 before:border-0 before:border-r-[3px] before:h-[60%] before:top-1/2 before:transition-all before:transform before:duration-300 before:-translate-y-1/2 before:border-solid before:border-primary transition-colors transform duration-300 scale-y-100 bg-primary-1;
  }
  .selected-conv-item-draff {
    @apply transition-colors transform duration-300 scale-y-100 bg-primary-1;
  }
}

body {
  height: 100%;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-y: hidden;
}

body {
  --scrollbar-color: #00000040 !important;
}
h4 {
  margin: 0 !important;
}

.img-reactive--wrap {
  flex: 1 1 33%;
  max-height: 300;
}
/* only match element if there is 4 items and it is the last one */
.img-reactive--wrap:nth-child(4):last-child{
  flex-basis: 50%;
}
/* only match element if there is 4 items and it is the nearest with last one (3th item) */
.img-reactive--wrap:nth-child(3):nth-last-child(2){
  flex-basis: 50%;
}
/* match items if there is more than 4 item and it is not the only child */
.img-reactive--wrap:nth-child(3n + 1):last-child:not(:only-child) {
  flex-grow: 0;
}



.ant-list-item:hover {
  box-shadow: 0 0 4px #eee;
}

.ant-menu-item {
  display: flex !important;
  align-items: center !important;
}

.ant-collapse-header {
  padding: 0 !important;
}

.ant-collapse-content-box {
  padding: 0 !important;
  padding-top: 4px !important;
}

.no-margin {
  margin: 0 !important;
}

.input-transparent > input {
  background-color: transparent;
}

.ant-menu-inline .ant-menu-selected::after,
.ant-menu-inline .ant-menu-item-selected::after {
  display: none !important;
}

/* fix overflow conversation preview */
.conv-item .ant-space-item:last-child {
  flex: 1;
  min-width: 0;
}

.ant-input-prefix {
  margin-right: 6px;
}

.input-pl[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555;
}
.input-wrapper {
  border: 1px solid #d9d9d9;
}

.input-wrapper:focus-within {
  border-color: #2c9989;
  box-shadow: 0 0 0 2px rgba(18, 140, 126, 0.2);
  border-right-width: 1px;
  outline: 0;
}
.input-wrapper:hover {
  border: 1px solid #2c9989;
  transition: all;
  cursor: auto;
  transition-duration: 0.1s;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*::-webkit-scrollbar {
  -webkit-appearance: none;
  scrollbar-gutter: stable;
}
*::-webkit-scrollbar:vertical {
  width: 4px;
}
*::-webkit-scrollbar:horizontal {
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #c0c0c0;
}
*::-webkit-scrollbar-track {
  background-color: #eee;
}

* {
  overflow-anchor: none;
}

.preview-scroll {
  overflow: auto;
}

/* typing animation */
/* .dot-typing {
  position: relative;
  left: -9999px;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  animation: dotTyping .8s infinite linear;
}

@keyframes dotTyping {
  0% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }
  50% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px -10px 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px -10px 0 0 #9880ff;
  }
  100% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }
} */
